/* General document css */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 1520px;
    margin: auto;
    background-color: #FAF8F4;
    color: #333333;
}


/* End General document css */


/* Start of Sunburst Chart css */

.icon {
    margin-top: 50px;
}

.row {
    margin-top: -50px;
}

.sunburst {
    width: 960px;
    height: 960px;
}

.introduction {
    width: 560px;
    height: 560px;
    margin-left: 800px;
    margin-top: -800px;
    padding: 5px;
}

.title {
    font-family: 'Nanum Pen Script';
    font-size: 48px;
    letter-spacing: 2px;
    line-height: 70px;
    margin-bottom: 40px;
}

.highlight {
    display: inline;
    background-color: #333333;
    color: white;
    border-radius: 40px;
    padding: 5px
}

.emphasis {
    display: inline;
    font-family: 'Nanum Gothic';
    font-size: 42px;
    color: #AA211F;
}

.summary {
    font-family: 'Nanum Gothic';
    font-size: 18px;
    padding: 5px;
}

.summaryDetails {
    font-family: 'Nanum Gothic';
    font-size: 18px;
    padding: 5px;
    margin-top: -80px;
    margin-right: 800px;
    margin-left: 100px;
}

.intext {
    width: 200px;
    height: 160px;
    margin-top: -440px;
    margin-left: 475px;
}

.intextDetails {
    width: 500px;
    height: 160px;
    margin-top: -120px;
    margin-left: 1000px;
}

.title_small {
    font-family: 'Nanum Pen Script';
    font-size: 24px;
    margin-bottom: 5px;
}

.summary_small {
    font-family: 'Nanum Gothic';
    font-size: 16px;
}

.highlight_small {
    font-family: 'Nanum Pen Script';
    font-size: 24px;
    background-color: #333333;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.link {
    font-family: 'Nanum Pen Script';
    font-size: 24px;
}

.pointer {
    height: 50px;
    width: 100px;
    margin-left: 25px;
    margin-top: 75px;
    transform: rotate(90deg);
}


/* End of Sunburst Chart css */


/* Start of Animal Charts css */

.icon2 {
    height: 50px;
    width: 50px;
    margin-top: 100px;
    margin-bottom: -100px;
}

.legend {
    width: 1520px;
    height: 50px;
    margin: auto;
}

.columnSmall {
    float: left;
    width: 168px;
    height: 50px;
    margin: auto;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-bottom: -10px;
    margin-right: 5px;
    display: inline-block;
}

.dottext {
    font-family: 'Nanum Gothic';
    font-size: 16px;
    padding-bottom: 10px;
    color: #333333;
}

.logo {
    margin-bottom: -5%;
    width: 250px;
}

.icon {
    height: 100px;
    width: 100px;
    margin-right: 50px;
    margin-left: 100px;
}

#graphs {
    width: 1520px;
    margin-top: 40px;
    margin-left: 110px;
    font-family: 'Nanum Pen Script'
}

.columnRight {
    width: 10%;
    height: 1000px;
}

.columnMedium {
    float: left;
    width: 216px;
    height: 180px;
    margin: auto;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.amcharts-labeltext {
    background-color: #000;
    color: #FFF;
}

.filler {
    width: 100%;
    height: 100px;
    margin-top: 40%;
}

.paper {
    background-color: #DD7E69;
}

.ceramic {
    background-color: #9C5043;
}

.glass {
    background-color: #B1D6CE;
}

.metalwork {
    background-color: #977663;
}

.silk {
    background-color: #C19C9C;
}

.other {
    background-color: #D2A700;
}

.jade {
    background-color: #737F38;
}

.silver {
    background-color: #737373;
}

.stone {
    background-color: #4A6467;
}

path.arc:hover {
    opacity: 0.7;
}

.axis line,
.axis circle {
    stroke: #cccccc;
    stroke-width: 0px
}

.axis circle {
    fill: none;
}

.r.axis text {
    text-anchor: end;
    font-family: 'Nanum Pen Script';
    font-size: 16px;
}

svg {
    margin: 0px auto;
    display: block;
}

path.arc {
    opacity: 0.9;
    transition: opacity 0.5s;
}

.tooltip {
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    box-shadow: -3px 3px 15px #888;
    color: white;
    padding: 6px;
}

.slice {
    cursor: pointer;
}

.slice .main-arc {
    stroke: #fff;
    stroke-width: 1px;
}

.slice .hidden-arc {
    fill: none;
}

.slice text {
    pointer-events: none;
    text-anchor: middle;
}

#chordchart {
    font-size: 12px;
    width: 1200px;
    margin: auto;
}

.annotation-note-title,
text.title {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Nanum Pen Script', cursive;
    margin: 'auto';
}

.annotation-note-label {
    margin-top: 1000px;
    font-size: 0.9rem;
    font-family: 'Nanum Pen Script', cursive;
}

.header {
    width: 1520px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: 'Nanum Pen Script';
    font-size: 54px;
}

.headerDetails {
    width: 1520px;
    margin: auto;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    font-family: 'Nanum Pen Script';
    font-size: 54px;
}

.tooltipbox {
    margin-left: 200px;
    margin-top: -300px;
    margin-bottom: 200px;
    width: 200px;
    height: 200px;
}